:root {
  /* Light Theme Variables */
  --color-bg-main: #f9fafb;
  --color-bg-card: #ffffff;
  --color-bg-input: #ffffff;
  --color-bg-sidebar: #e9f4ef;
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-text-sidebar: #172d24;
  --color-border: #e5e7eb;
  --color-primary: #91c7b1;
  --color-primary-hover: #62b090;
  --color-secondary: #e0bad7;
  --color-accent-user: #da4167;
  --color-accent-user-hover: #bb254b;
  --color-accent-bot: #d2e8e0;
  --color-highlight: #fac748;
  --color-text-on-primary: #172d24;
  --color-text-on-accent-user: #ffffff;
  --color-text-on-accent-bot: #172d24;
  --color-icon: #394648;
  --color-icon-on-primary: #ffffff;
}

.dark {
  /* Dark Theme Variables */
  --color-bg-main: #0b0e0e;
  --color-bg-card: #161c1d;
  --color-bg-input: #222a2b;
  --color-bg-sidebar: #0b0e0e;
  --color-text-primary: #d4dcdd;
  --color-text-secondary: #a9b9bc;
  --color-text-sidebar: #d4dcdd;
  --color-border: #2d3739;
  --color-primary: #91c7b1;
  --color-primary-hover: #a5d2c0;
  --color-secondary: #e0bad7;
  --color-accent-user: #e16684;
  --color-accent-user-hover: #da4167;
  --color-accent-bot: #2d3739;
  --color-highlight: #fbd36c;
  --color-text-on-primary: #172d24;
  --color-text-on-accent-user: #ffffff;
  --color-text-on-accent-bot: #d4dcdd;
  --color-icon: #d4dcdd;
  --color-icon-on-primary: #172d24;
}
